<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="blog-container">
        <h1>Blogs</h1>
        <button class="post-button"><a href="/post">New Post</a></button>

        <ul class="blog-list">
            <% posts.forEach(post=> { %>
                <li>
                    <h2>
                        <%= post.title %>
                    </h2>
                    <small>
                        <%= post.date %>
                    </small>
                    <p>
                        <%= post.content %>
                    </p>
                    <small class="author">By: <%= post.author %></small>
                    <br />

                    <button class="edit-button"><a href="./edit/<%= post.id %>">Edit</a></button>
                    <form action="/delete/<%= post.id %>" method="POST" style="display: inline;">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                    <!-- <button class="delete-button"><a href="./delete/<%= post.id %>">Delete</a></button> -->

                    <hr />
                </li>

                <% }); %>
        </ul>
    </div>

</body>

</html>